{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    We have variety of products..
{% endblock %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <div>
      <p class="text-center search_class">You have searched for: <b>"{{key}}"</b></p>
    </div>
    <div class="container">
        <div class="row mx_auto">
            {% for i in key1 %}
                <div class="bottom_margin_class col-9 col-sm-12 col-md-4 col-lg-4">
                    <div class="card text-center" style="min-width:18rem;">
                        <a href="{{i.get_url}}"><img class="card-img-top image_class" src="{{i.image.url}}" alt="{{i.name}}"></a>
                        <div class="card_body_class">
                            <h4>{{i.name}}</h4>
                            <p>${{i.price}}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                  <div class="row mx-auto">
                      <p class="text-center search_class">0 results found</p>
                  </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
